html,
body {
  margin: 0%;
  height: 100%;
  width: 100%;
}

.bodyDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: [row-0] 4.75rem [row-1] 1fr [row-2] auto;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
  position: absolute;
  min-height: 100%;
  width: 100%;
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #002147;
  background: #fcfaf6;
  overflow: auto;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.navbar {
  background: #fcfaf6;
  border-bottom: 0.1px solid #002147;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas: 'left . . right right';
  align-items: center;
}

.logo {
  grid-area: left;
  margin-left: 7%;
}

.nav-item {
  grid-area: right;
  display: flex;
  justify-content: space-evenly;
}

/* footer */

footer {
  background: #fcfaf6;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas: 'left . . . right';
  align-items: center;
  justify-content: space-between;
  margin: 3% 0%;
}

.footerContent {
  grid-area: right;
  display: flex;
  justify-content: space-evenly;
}

/* homepage */

.homeContainer {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: repeat(3, 33.3%);
}

.homeImg {
  grid-column: 2;
  grid-row: 2;
  height: 400px;
  width: 300px;
  align-self: center;
  justify-self: center;
}

.title-image {
  height: 100%;
}

.homeLine {
  grid-column: 3;
  grid-row: 1 / span 3;
  border-right: 0.5px solid #002147;
  height: 65%;
  align-self: center;
}

.homeText {
  grid-column: 5;
  grid-row: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.title-name,
.title-title {
  margin: 0;
}

/* about page */

.about {
  grid-area: main;
  width: 55%;
  height: 75%;
  align-self: center;
  justify-self: center;
  line-height: 1.4;
}

.aboutp {
  margin-bottom: 25px;
  font-size: 17px;
}

/* Coding Page & Cards */

.codingPage {
  grid-area: main;
  width: 85%;
  margin: 2% 0%;
  justify-self: center;
  justify-content: flex-start;
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.card-container {
  width: 22%;
  height: 24rem;
  border: 1px solid #002147;
  padding: 1%;
  margin: 1% 4%;
}

.card {
  border: 1px dotted pink;
  height: 99%;
  width: 99%;
  display: grid;
  grid-template-rows: [col-0] 10% [col-2] 40% [col-3] 10% [col-4] 40%;
  align-items: flex-start;
  justify-items: flex-start;
}

.projectImg {
  height: 90%;
  width: 50%;
  justify-self: center;
  align-self: center;
  border: 1px solid lightblue;
}

.projectImg img {
  height: 100%;
  width: 100%;
}

.projectTitle {
  justify-self: center;
}

.projectInfo,
.projectStack {
  font-size: 14px;
  padding: 7px;
  margin: 0;
}

.projectStack {
  font-style: italic;
}

/* Creative Projects Page & Sections */

.creative-page {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1% 0%;
}

.creative-section {
  border: 1px solid #002147;
  width: 85%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'image info info'
    'image info info'
    'image info info'
    'image info info';
  margin: 1% 0%;
  padding: 2%;
}

.creative-section-img {
  grid-area: image;
  border: 1px dotted pink;
  width: 85%;
  height: 95%;
  align-self: center;
  justify-self: center;
}

.creative-img img {
  width: 100%;
  height: 100%;
}

.creative-section-info {
  grid-area: info;
}
