html,
body {
  margin: 0%;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.bodyDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: [row-0] 4.75rem [row-1] 1fr [row-2] auto;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
  position: absolute;
  min-height: 100%;
  width: 100%;
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #fcfaf6;
  background: #00022e;
  overflow: auto;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .navbar {
    background: #00022e;
    grid-area: header;
    display: flex;
    flex-flow: column wrap;
  }

  .logo {
    font-size: 18px;
  }

  .nav-item {
    flex-direction: column;
    align-items: flex-end;
    margin: 5%;
    font-size: 16px;
  }
}

.navbar {
  background: #00022e;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas: 'left . . right right';
  align-items: center;
}

.logo {
  color: #986c35;
  grid-area: left;
  margin-left: 10%;
  font-size: 20px;
}

.nav-item-text {
  color: #fcfaf6;
}

.nav-item {
  grid-area: right;
  display: flex;
  justify-content: space-evenly;
}

/* homepage */

@media screen and (max-width: 768px) {
  .homeText {
    font-size: 16px;
  }

  .homeImg {
    grid-column: 2;
    grid-row: 2;
    aspect-ratio: 3/4;
    width: 300%;
    align-self: center;
    justify-self: center;
  }
}

.homeContainer {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: repeat(3, 33.3%);
}

.homeImg {
  grid-column: 2;
  grid-row: 2;
  aspect-ratio: 3/4;
  width: 200%;
  align-self: center;
  justify-self: center;
}

.title-image {
  height: 100%;
}

.homeLine {
  grid-column: 3;
  grid-row: 1 / span 3;
  border-right: 1px solid #986c35;
  height: 65%;
  align-self: center;
}

.homeText {
  grid-column: 4 / 7;
  grid-row: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.title-name,
.title-title {
  margin: 0;
}

/* about page */

.about {
  grid-area: main;
  width: 55%;
  height: 75%;
  align-self: center;
  justify-self: center;
  line-height: 1.4;
}

@media screen and (max-width: 736px) {
  .about {
    grid-area: main;
    width: 75%;
    height: 75%;
    margin-top: 5%;
    align-self: unset;
    justify-self: center;
    line-height: 1.4;
  }
}

.aboutp {
  margin-bottom: 25px;
  font-size: 17px;
}

/* Coding Page & Cards */

.codingPage {
  grid-area: main;
  width: 85%;
  margin: 2% 0%;
  justify-self: center;
  justify-content: space-evenly;
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.card-container {
  width: 22%;
  height: 25rem;
  border: 1px dotted #986c35;
  padding: 1%;
  margin: 1% 4%;
}

@media screen and (max-width: 684px) {
  .card-container {
    width: 65%;
    height: 29rem;
    border: 1px dotted #986c35;
    padding: 1%;
    margin: 4% 0%;
  }
}

@media screen and (min-width: 685px) and (max-width: 1024px) {
  .card-container {
    width: 32%;
    height: 27rem;
    border: 1px dotted #986c35;
    padding: 1%;
    margin: 4% 2%;
  }
}

.card {
  background-image: url('../images/bronzeCardBackground.png');
  background-size: contain;
  color: #00022e;
  height: 99%;
  width: 99%;
  display: grid;
  grid-template-rows: [col-0] 10% [col-2] 40% [col-3] 10% [col-4] 40%;
  align-items: flex-start;
  justify-items: flex-start;
}

.projectImg {
  height: 90%;
  width: 50%;
  justify-self: center;
  align-self: center;
  border: 1px solid lightblue;
}

.projectImg img {
  height: 100%;
  width: 100%;
}

.projectTitle {
  justify-self: center;
}

.projectInfo,
.projectStack {
  font-size: 14px;
  padding: 7px;
  margin: 0;
}

.projectStack {
  font-style: italic;
}

/* Creative Projects Page & Sections */

.creative-page {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1% 0%;
}

.creative-section {
  border: 1px solid #986c35;
  width: 85%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'image info info'
    'image info info'
    'image info info'
    'image info info';
  margin: 2% 0%;
  padding: 2%;
}

.creative-section-img {
  grid-area: image;
  border: 1px dotted pink;
  width: 85%;
  height: 95%;
  align-self: center;
  justify-self: center;
}

.creative-img img {
  width: 100%;
  height: 100%;
}

.creative-section-info {
  grid-area: info;
}

.contactContent {
  grid-area: main;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.contact-box {
  width: 55%;
  margin: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-links {
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.social-link {
  color: #986c35;
  text-decoration: underline;
}

form,
.contact-email-form {
  border: 1px solid #fcfaf6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
}

.form-email {
  justify-content: space-evenly;
}

.form-message {
  margin-top: 5%;
  flex-flow: column wrap;
  align-content: center;
}

.email-form-input {
  border: 1px solid #fcfaf6;
  border-radius: 5%;
  background: #fcfaf6;
  width: 25%;
}

.textarea-label {
  margin-bottom: 1%;
  margin-left: 13%;
}

.email-form-textarea {
  margin-top: 1%;
  width: 85%;
}

.email-form-button {
  margin-top: 5%;
  align-self: center;
  width: 21%;
  height: 16%;
  border-radius: 55%;
  background: #986c35;
  border: #fcfaf6;
}

.contactLine {
  border-top: 1px solid #fcfaf6;
  width: 65%;
}
